html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, san-serif;
  line-height: 1.6;
  font-size: 18px;
  background-position: center;
  background-image:
      url('/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
